@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #191919;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "iA Writer Quattro";
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "iA Writer Quattro", ui-sans-serif, system-ui, sans-serif;
  font-weight: 400;
}
